<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card mt-5 mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h3 class="card-title">Rentals Table</h3>
                    <app-button routerLink="/management/rentals/create" variant="primary" size="md" [outline]="true"
                        [px]="5">Create Rental</app-button>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table appTable class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Id</th>
                                    <th scope="col">Model Name</th>
                                    <th scope="col">Brand Name</th>
                                    <th scope="col">Plate</th>
                                    <th scope="col">User Name</th>
                                    <th scope="col">User Email</th>
                                    <th scope="col">User Phone Number</th>
                                    <th scope="col">Start Date</th>
                                    <th scope="col">End Date</th>
                                    <th scope="col">Daily Price</th>
                                    <th scope="col">Total Price</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (rental of rentals; track $index) {
                                <tr>
                                    <th scope="row">{{$index + 1}}</th>
                                    <td>{{rental.id}}</td>
                                    <td>{{rental.modelName}}</td>
                                    <td>{{rental.brandName}}</td>
                                    <td>{{rental.carPlate}}</td>
                                    <td>{{rental.userFirstName}}</td>
                                    <td>{{rental.userEmail}}</td>
                                    <td>{{rental.userPhoneNumber}}</td>
                                    <td>{{rental.startDate}}</td>
                                    <td>{{rental.endDate}}</td>
                                    <td>{{rental.carDailyPrice}}</td>
                                    <td>{{rental.totalPrice}}</td>
                                    <td>
                                        <div class="d-flex justify-content-end">
                                            <app-button [routerLink]="['/management/rentals/update', rental.id]"
                                                variant="warning" size="sm" [outline]="true" [px]=4>Update</app-button>
                                            <app-button class="ms-3" (click)="deleteRental(rental.id)" variant="danger"
                                                size="sm" [outline]="true" [px]=4>Delete</app-button>
                                        </div>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>