<app-home-layout>
    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <!-- Replace with your actual image source -->
                <img src="../../../assets/images/_82234771-5b9c-4532-a294-c314e0c67b8c.jpeg" alt="RentiCar Logo"
                    class="img-fluid">
            </div>
            <div class="col-lg-6" style="color: rgba(0, 0, 0, 0.775)">
                <h1>About RentiCar</h1>
                <p>
                    RentiCar is a premier car rental service that has been serving customers with excellence for many
                    years. Our mission is to make car rental a hassle-free experience and to get you on the road as
                    quickly as possible.
                </p>
                <p>
                    We offer a wide variety of vehicles to cater to all your travel needs. Whether you're looking for a
                    compact car for city driving, a luxury sedan for a business trip, or a spacious SUV for a family
                    vacation, RentiCar has the perfect vehicle for you. Our fleet is regularly serviced and maintained
                    to ensure your safety and comfort.
                </p>
                <p>
                    At RentiCar, we understand that every journey is unique. That's why we offer customizable rental
                    options to suit your specific needs. From flexible booking and payment options to additional
                    services like GPS navigation and child safety seats, we've got you covered.
                </p>
                <p>
                    But what truly sets us apart is our commitment to customer service. Our friendly and knowledgeable
                    staff is always ready to assist you, ensuring a smooth and enjoyable car rental experience from
                    start to finish. We pride ourselves on our ability to exceed customer expectations and strive to
                    continue to do so.
                </p>
                <p>
                    So why wait? Experience the RentiCar difference today!
                </p>

            </div>
        </div>
    </div>
</app-home-layout>