<p>This is rental list! Here we goo!</p>
@for (rental of rentals; track $index) {
    <div class="card mt-5 mb-4 mx-5">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="card-title">Past Rentals</h3>
        </div>
        <div class="card-body p-0">
            <table appTable class="table table-striped">
                <thead>
                    <tr class="center-content">
                        <th scope="col">#</th>
                        <th scope="col">Image</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Model</th>
                        <th scope="col">Fuel</th>
                        <th scope="col">Transmission</th>
                        <th scope="col">Plate</th>
                        <th scope="col">Daily Price</th>
                        <th scope="col">Total Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="center-content">{{$index + 1}}</th>
                        <td scope="row" class="center-content"><img src="{{rental.carImagePath}}" alt="" width="200" height="100"></td>
                        <td scope="row" class="center-content">{{rental.brandName}}</td>
                        <td scope="row" class="center-content">{{rental.modelName}}</td>
                        <td scope="row" class="center-content">{{rental.fuelName}}</td>
                        <td scope="row" class="center-content">{{rental.transmissionName}}</td>
                        <td scope="row" class="center-content">{{rental.carPlate}}</td>
                        <td scope="row" class="center-content">{{rental.carDailyPrice}}</td>
                        <td scope="row" class="center-content">{{rental.totalPrice}}</td>                    
                        <td class="center-content"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
