<div class="card mt-5 mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3 class="card-title">Brands Table</h3>
        <app-button routerLink="/management/brands/create" variant="primary" size="md" [outline]="true" [px]="5">Create Brand</app-button>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <table appTable class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Created Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (brand of brands; track $index) {
                <tr>
                    <th scope="row">{{$index + 1}}</th>
                    <td>{{brand.id}}</td>
                    <td>{{brand.name}}</td>
                    <td>{{brand.createdDate}}</td>
                    <td>
                        <div class="d-flex justify-content-end">
                            <app-button [routerLink]="['/management/brands/edit', brand.id]" variant="warning" size="sm" [outline]="true" [px]=4>Edit</app-button>
                            <app-button class="ms-3" (click)="deleteBrand(brand.id)" variant="danger" size="sm" [outline]="true" [px]=3>Delete</app-button>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
