<div class="min-vh-100 d-flex flex-column ">
    <app-navbar class="shadow-sm p-1 mb-3 bg-body-tertiary rounded" [navItems]="navItems" [title]="title" [endContentTemplate]="navbarEndContent">
        <ng-template #navbarEndContent>
            <div class="card-header d-flex justify-content-end">
                <app-button [routerLink]="['/register']" variant="warning" size="md" [outline]="true">Sign Up</app-button>
            </div>
        </ng-template>
    </app-navbar>
    <main class="container-fluid flex-grow-1 justify-content-center align-items-center text-align-center my-3">
        <ng-content></ng-content>
    </main>
    <app-footer class="mt-5"></app-footer>
</div>

