@if (formMessage.error){
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{formMessage.error}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
} @else if (formMessage.success){
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{formMessage.success}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="container-fluid d-flex align-items-center justify-content-center vh-100">
    <img class="home-bg" src="../../../assets/images/_0d6aae18-fe9a-4fde-a324-383727949443.jpeg">
    <div class="row justify-content-center w-100 g-0">
        <div class="col-lg-5 col-sm-12 col-md-10">
            <div class="card card-warning card-outline m-0">
                <div class="card-header d-flex justify-content-center py-3">
                    <div class="card-title py-0 my-0 h3">Login</div>
                </div>
                <!-- Start: ReactiveFormsModule -->
                <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
                    <div class="card-body py-5 mb-3">
                        <div class="row my-4 d-flex justify-content-center">
                            <label class="col-lg-2 col-sm-2 col-form-label">Email</label>
                            <div class="col-lg-6 col-sm-4">
                                <input class="form-control" formControlName="email" type="text" placeholder="Email">
                            </div>
                        </div>
                        <div class="row my-3 d-flex justify-content-center">
                            <label class="col-lg-2 col-sm-2 col-form-label">Password</label>
                            <div class="col-lg-6 col-sm-4">
                                <input class="form-control" formControlName="password" type="password" placeholder="Password">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex flex-column align-items-end py-3 mt-5">
                        <app-button type="submit" variant="warning" size="md" [outline]="true" [px]="5">Login</app-button>
                        <p class="mt-3 mb-0 text-small">
                            Don't have an account?
                            <a href="/register">Sign up here</a>
                        </p>
                    </div>
                </form>
                <!-- End: ReactiveFormsModule -->
            </div>
        </div>
    </div>
</div>
