@if (formMessage.error){
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{formMessage.error}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}@else if (formMessage.success){
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{formMessage.success}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card card-warning card-outline mb-4 mt-5">
                <div class="card-header d-flex justify-content-center py-3">
                    <div class="card-title h3">Create Car Dashboard</div>
                </div>
                <!-- Start: ReactiveFormsModule -->
                <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
                    <div class="card-body">
                        <div class="row m-3">
                            <label class="col-sm-2 col-form-label">Model Name</label>
                            <div class="col-sm-10">
                                <select class="form-select form-control" formControlName="modelId" aria-label="Default select example">
                                    <option value="" selected>Select Model</option>
                                    @for (model of selectModels; track $index) {
                                        <option [ngValue]="model.id">{{model.name}}</option>
                                    }
                                    </select>
                            </div>
                        </div>
                        <div class="row m-3">
                            <label class="col-sm-2 col-form-label">Model Year</label>
                            <div class="col-sm-10">
                                <input class="form-control" formControlName="modelYear" type="text" placeholder="Model Year">
                            </div>
                        </div>
                        <div class="row m-3">
                            <label class="col-sm-2 col-form-label">Plate</label>
                            <div class="col-sm-10">
                                <input class="form-control" formControlName="plate" type="text" placeholder="Plate">
                            </div>
                        </div>
                        <div class="row m-3">
                            <label class="col-sm-2 col-form-label">State</label>
                            <div class="col-sm-10">
                                <!-- <input class="form-control" formControlName="state" type="text" placeholder="State"> -->
                                <select class="form-select form-control" formControlName="state" aria-label="Default select example">
                                    <option value="" selected>Select State</option>
                                    <option>AVAILABLE</option>
                                    <option>RENTED</option>
                                    <option>MAINTANENCE</option>
                                    </select>
                            </div>
                        </div>
                        <div class="row m-3">
                            <label class="col-sm-2 col-form-label">Daily Price</label>
                            <div class="col-sm-10">
                                <input class="form-control" formControlName="dailyPrice" type="text" placeholder="Daily Price">
                            </div>
                        </div>
                        <div class="row m-3">
                            <label class="col-sm-2 col-form-label">Location</label>
                            <div class="col-sm-10">
                                <select class="form-select form-control" formControlName="location" aria-label="Default select example">
                                    <option selected>Select Location</option>
                                    @for (city of citiesInTurkey; track $index) {
                                        <option>{{city}}</option>
                                    }
                                    </select>
                            </div>
                        </div>
                        <div class="row m-3">
                            <label class="col-sm-2 col-form-label">Kilometer</label>
                            <div class="col-sm-10">
                                <input class="form-control" formControlName="kilometer" type="text" placeholder="Kilometer">
                            </div>
                        </div>
                        <div class="row m-3">
                            <label class="col-sm-2 col-form-label">Color</label>
                            <div class="col-sm-10">
                                <input class="form-control" formControlName="color" type="text" placeholder="Color">
                            </div>
                        </div>
                        <div class="row m-3">
                            <label class="col-sm-2 col-form-label">Image Url</label>
                            <div class="col-sm-10">
                                <input class="form-control" formControlName="imagePath" type="text" placeholder="Image Url">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-end py-3">
                        <app-button type="submit" variant="primary" size="sm" [outline]="true" [px]=4>Create Car</app-button>
                    </div>
                </form>
                <!-- End: ReactiveFormsModule -->
            </div>
        </div>
    </div>
</div>
