@if (formMessage) {
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{formMessage}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card card-warning card-outline mb-4 mt-5">
                <div class="card-header d-flex justify-content-center py-3">
                    <div class="card-title h3">Create Car Dashboard</div>
                </div>
                <!-- Start: ReactiveFormsModule -->
                <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
                    <div class="card-body">
                        <div class="row m-3">
                            <label class="col-sm-2 col-form-label">Plate</label>
                            <div class="col-sm-10">
                                <input class="form-control" formControlName="plate" type="text" placeholder="Plate">
                            </div>
                        </div>
                        <div class="row m-3">
                            <label class="col-sm-2 col-form-label">Model Year</label>
                            <div class="col-sm-10">
                                <input class="form-control" formControlName="modelYear" type="text" placeholder="Model Year">
                            </div>
                        </div>
                        <div class="row m-3">
                            <label class="col-sm-2 col-form-label">State</label>
                            <div class="col-sm-10">
                                <input class="form-control" formControlName="state" type="text" placeholder="State">
                            </div>
                        </div>
                        <div class="row m-3">
                            <label class="col-sm-2 col-form-label">Daily Price</label>
                            <div class="col-sm-10">
                                <input class="form-control" formControlName="dailyPrice" type="text" placeholder="Daily Price">
                            </div>
                        </div>
                        <div class="row m-3">
                            <label class="col-sm-2 col-form-label">Color</label>
                            <div class="col-sm-10">
                                <input class="form-control" formControlName="color" type="text" placeholder="Color">
                            </div>
                        </div>
                        <div class="row m-3">
                            <label class="col-sm-2 col-form-label">Model Id</label>
                            <div class="col-sm-10">
                                <input class="form-control" formControlName="modelId" type="text" placeholder="Model Id">
                            </div>
                        </div>
                        <div class="row m-3">
                            <label class="col-sm-2 col-form-label">User Id</label>
                            <div class="col-sm-10">
                                <input class="form-control" formControlName="userId" type="text" placeholder="User Id">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-end py-3">
                        <app-button type="submit" variant="primary" size="sm" [outline]="true" [px]=4>Create Car</app-button>
                    </div>
                </form>
                <!-- End: ReactiveFormsModule -->
            </div>
        </div>
    </div>
</div>
