body, html {
    height: 100%;
    margin: 0;
}
.error-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.error-container h1 {
    font-size: 8em;
}