@if (formMessage.error){
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{formMessage.error}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}@else if (formMessage.success){
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{formMessage.success}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card card-warning card-outline mb-4 mt-5">
                <div class="card-header d-flex justify-content-center py-3">
                    <div class="card-title h3">Create Rental Dashboard</div>
                </div>
                <!-- Start: ReactiveFormsModule -->
                <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
                    <div class="card-body">
                        <div class="row m-3">
                            <label class="col-sm-3 col-form-label">Car Name</label>
                            <div class="col-sm-9">
                                <select class="form-select form-control" formControlName="carId" aria-label="Default select example">
                                    <option value="" selected>Select Car</option>
                                    @for (car of allCars; track $index) {
                                        <option [ngValue]="car.id">{{car.name}}</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row m-3">
                            <label class="col-sm-3 col-form-label">User Email</label>
                            <div class="col-sm-9">
                                <select class="form-select form-control" formControlName="userId" aria-label="Default select example">
                                    <option value="" selected>Select User</option>
                                    @for (user of allUsers; track $index) {
                                        <option [ngValue]="user.id">{{user.name}}</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row m-3">
                            <label class="col-sm-3 col-form-label">Start Date</label>
                            <div class="col-sm-9">
                                <input class="form-control" formControlName="startDate" type="date" placeholder="2024-06-03">
                            </div>
                        </div>
                        <div class="row m-3">
                            <label class="col-sm-3 col-form-label">End Date</label>
                            <div class="col-sm-9">
                                <input class="form-control" formControlName="endDate" type="date" placeholder="2024-06-07">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-end py-3">
                        <app-button type="submit" variant="primary" size="sm" [outline]="true" [px]=4>Create Rental</app-button>
                    </div>
                </form>
                <!-- End: ReactiveFormsModule -->
            </div>
        </div>
    </div>
</div>



