<div class="card mt-5 mb-4 mx-5">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3 class="card-title">Models Table</h3>
        <app-button routerLink="/management/models/create" variant="primary" size="md" [outline]="true" [px]="5">Create Model</app-button>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <table appTable class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Brand Id</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Transmission Id</th>
                    <th scope="col">Transmission</th>
                    <th scope="col">Fuel Id</th>
                    <th scoope="col">Fuel</th>
                    <th scope="col">Color</th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (model of models; track $index) {
                <tr>
                    <th scope="row">{{$index + 1}}</th>
                    <td>{{model.id}}</td>
                    <td>{{model.name}}</td>
                    <td>{{model.brandId}}</td>
                    <td>{{model.brandName}}</td>
                    <td>{{model.transmissionId}}</td>
                    <td>{{model.transmissionName}}</td>
                    <td>{{model.fuelId}}</td>
                    <td>{{model.fuelName}}</td>
                    <td>Color</td> <!-- Sonra eklenecek -->
                    <td>
                        <div class="d-flex justify-content-end">
                            <app-button [routerLink]="['/management/models/update', model.id]" variant="warning" size="sm" [outline]="true" [px]=4>Update</app-button>
                            <app-button class="ms-3" (click)="deleteModel(model.id)" variant="danger" size="sm" [outline]="true" [px]=4>Delete</app-button>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
