@if (formMessage.error){
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{formMessage.error}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}@else if (formMessage.success){
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{formMessage.success}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card card-warning card-outline mb-4 mt-5">
                <div class="card-header d-flex justify-content-center py-3">
                    <div class="card-title h3">Create Model Dashboard</div>
                </div>
                <!-- Start: ReactiveFormsModule -->
                <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
                    <div class="card-body">
                        <div class="row m-3">
                            <label class="col-sm-3 col-form-label">Model Name</label>
                            <div class="col-sm-9">
                                <input class="form-control" formControlName="name" type="text" placeholder="Model Name">
                            </div>
                        </div>
                        <div class="row m-3">
                            <label class="col-sm-3 col-form-label">Brand Name</label>
                            <div class="col-sm-9">
                                <select class="form-select form-control" formControlName="brandId" aria-label="Default select example">
                                    <option value="" selected>Select Brand</option>
                                    @for (brand of allBrands; track $index) {
                                        <option [ngValue]="brand.id">{{brand.name}}</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row m-3">
                            <label class="col-sm-3 col-form-label">Fuel Name</label>
                            <div class="col-sm-9">
                                <select class="form-select form-control" formControlName="fuelId" aria-label="Default select example">
                                    <option value="" selected>Select Fuel</option>
                                    @for (fuel of allFuels; track $index) {
                                        <option [ngValue]="fuel.id">{{fuel.name}}</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row m-3">
                            <label class="col-sm-3 col-form-label">Transmission Name</label>
                            <div class="col-sm-9">
                                <select class="form-select form-control" formControlName="transmissionId" aria-label="Default select example">
                                    <option value="" selected>Select Transmission</option>
                                    @for (transmission of allTransmissions; track $index) {
                                        <option [ngValue]="transmission.id">{{transmission.name}}</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-end py-3">
                        <app-button type="submit" variant="primary" size="sm" [outline]="true" [px]=4>Create Model</app-button>
                    </div>
                </form>
                <!-- End: ReactiveFormsModule -->
            </div>
        </div>
    </div>
</div>

